
div.dataTables_length label {
	width: 460px;
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
	display: inline-block;
	margin-top: 7px;
}

div.dataTables_filter label {
	width: 460px;
	float: right;
	text-align: right;
}

div.dataTables_filter input {
	display: inline-block;
	margin-top: 7px;
}

div.dataTables_info {
	padding-top: 0px;
	padding-bottom: 2px;
}

div.dataTables_paginate {
	margin: 0;
	float: right;
	text-align: right;
}

table {
	margin: 1em 0;
	clear: both;
}

table.dataTable th:active {
	outline: none;
}

.header {
	background: url('../img/sort_both.png') no-repeat center right;
	cursor: pointer;
	*cursor: hand;
 }
.headerSortUp { background: url('../img/sort_asc.png') no-repeat center right; }
.headerSortDown { background: url('../img/sort_desc.png') no-repeat center right; }

.span8 {
	width:564px;
	background-color: #EEEEEE;
}

.span7 {
	width:362px;
	background-color: #EEEEEE;
}

.span9 {
	width:770px;
	background-color: #FFF;
}

.dataTables_wrapper {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-collapse: separate;
	border-color: #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	padding:5px;
	background-color: #EEEEEE;
}

.loading {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-collapse: separate;
	border-color: #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	padding:5px;
	background-color: #EEEEEE;
	text-align: center;
}

