.badge-success {
    background-color: #468847;
}

.badge-warning {
    background-color: #F89406;
}

.badge-info {
    background-color: #3A87AD;
}

.navbar-grey {
    top: 62px;
    z-index: 1000;
    background-color: #E7E7E7;
    border-bottom: 1px solid #eee;
}

.navbar-grey .navbar-nav > li {
    font-family:open_sansbold, sans-serif;
}

.navbar-grey .navbar-nav > li > a:hover,
.navbar-grey .navbar-nav > li > a:focus,
.navbar-grey .navbar-nav > li.dropdown > a:hover,
.navbar-grey .navbar-nav > li.dropdown > a:focus,
.navbar-grey .navbar-nav > li.active > a,
.navbar-grey .navbar-nav > li.active > a:hover,
.navbar-grey .navbar-nav > li.active > a:focus {
    background-color: #ddd;
    color: #555555;
}

label {
    font-weight: normal;
}

.alert-info{
    background-color:transparent;
}

.label-state {
    display: inline-block;
    width: 100px;
    font-weight: normal;
}

h2{
    color: rgb(32, 83, 157);
}

.navbar-onelab .navbar-nav > li.active > a {
    border-bottom: solid 3px rgb(139, 176, 222);
}
